<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
              {{#link-to 'tenant-manager' tagName="li"}}<a href="">Tenant Manager</a>{{/link-to}}
              {{#link-to 'player-manager' tagName="li"}}<a href="">Player Manager</a>{{/link-to}}
              {{#link-to 'question-manager' tagName="li"}}<a href="">Question Manager</a>{{/link-to}}
              {{#link-to 'tv-support' tagName="li"}}<a href="">TV Support</a>{{/link-to}}
              {{#link-to 'advertisemend-factory' tagName="li"}}<a href="">Advertisemend Factory</a>{{/link-to}}
              {{#link-to 'voucher-factory' tagName="li"}}<a href="">Voucher Factory</a>{{/link-to}}
              {{#link-to 'index' tagName="li"}}<a href="">User Manager</a>{{/link-to}}
              {{#link-to 'index' tagName="li"}}<a href="">Billing Manager</a>{{/link-to}}
            </ul>
        </div>
    </div>
</nav>