<div class="col-md-2 laft-sidebar">
    <ul class="list-group">
        <li class="list-group-item"><a href="#" {{action 'someAction'}}>Vouchers</a></li>
        <li class="list-group-item">{{#link-to 'player-manager'}}Voucher Providers{{/link-to}}</li>
    </ul>
</div>