<div class="col-md-2 laft-sidebar">
    <ul class="list-group">
        <li class="list-group-item">{{#link-to 'vouchers'}}Vouchers{{/link-to}}</li>
        <li class="list-group-item">{{#link-to 'voucher-providers'}}Voucher Providers{{/link-to}}</li>
    </ul>
</div>