<div class="row" style="margin:0; padding:0; border: 1px solid red; padding:10px; border: 1px solid #ccc; background: white;">
    <h3 style="display: inline;">Vouchers</h3>
    <button class="btn btn-primary pull-right">Create New Voucher</button>
</div>